*{padding: 0px; margin: 0px;}
ul{list-style: none;}
a{text-decoration: none;}

header{
    width: 800px;
    height: 95px;
    background-color: #2d3a4b;

    position: relative;

}

/*  제목영역의 메인로고 이미지 */
#logo{
    position: absolute;
    top: 30px;
    left: 30px;
}

#top_manu{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px;
    background-color: aliceblue;

}
#top_manu a {color: aliceblue;}
nav{
    position: absolute;
    bottom: 10px;
    left: 220px;
    font-size: 16px;
}
nav li{
    display: inline;
    margin-left: 30px;
}

nav li a{
    color: white;
}

#contents li{
    display: inline;
    margin-left: 50px;

}

footer{
    width: 800px;
height: 90px;
background-color: f1f1f1yellow;
}
footer img{margin: 10px 0 0 60px;}
#page{width:820px ; margin-left :auto; magin-rigth:auto; }